.header {
  padding: 4.1rem 1.1rem 2rem;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0.71rem;
  background-color: whitesmoke;
}

.header__logotype {
  font-weight: 400;
  font-size: 2rem;
  color: rgb(0, 161, 201);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.71rem;
}

.header__input-box {
  position: relative;
  width: 100%;
}

.header__search {
  width: 100%;
  padding: 1.07rem 0 1rem 3.42rem;
  background-color: rgb(0, 161, 201);
  border: transparent;
  border-radius: 0.57rem;
  color: rgb(0, 0, 0);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.header__search::placeholder {
  color: rgba(226, 226, 226, 0.911);
}

.header__search:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
}

.header__search:focus::placeholder {
  color: rgb(0, 161, 201);
}

.header__search-icon {
  position: absolute;
  top: 50%;
  left: 1.07rem;
  transform: translateY(-50%);
  transition: fill 0.2s ease-in-out;
}

.header__search-icon use {
  stroke: rgb(255, 255, 255);
  fill: rgb(0, 161, 201);
}

.header__input-box:focus-within .header__search-icon use {
  stroke: rgb(0, 161, 201);
  fill: rgb(255, 255, 255);
}
