<section class="catalog section">
  <div class="container">
    <h2 class="catalog__title visually-hidden">Catalog</h2>
    <div class="catalog-box-b">
      <button type="button" class="catalog-button js-catalog-button">
        <span>
          <svg class="catalog-btn-icon" width="18" height="18">
            <use href="/assets/images/sprite.svg#catalog"></use></svg
        ></span>
        Product catalog
      </button>
    </div>
    <ul class="catalog__list" id="js-catalog-list">
      <li class="catalog__item">
        <a
          class="catalog__link"
          data-name="phones"
          href="/Glance/Glance/category.html"
        >
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#smartphone"></use>
          </svg>
          Smartphones
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item">
        <a
          class="catalog__link"
          data-name="smartWatches"
          href="/Glance/category.html"
        >
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#watch"></use>
          </svg>
          Smartwatches
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" data-name="tV" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#tv"></use>
          </svg>
          TVs & Accessories
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" data-name="audio" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#audio"></use>
          </svg>
          Audio & Sound
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item catalog-hidden">
        <a class="catalog__link" data-name="" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#hair"></use>
          </svg>
          Styling Tools
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#console"></use>
          </svg>
          Gaming Consoles
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#oven"></use>
          </svg>
          Stoves & Cook
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="catalog__item catalog-hidden">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#travel"></use>
          </svg>
          Tourism & Travel
        </a>
      </li>
      <li class="catalog__item catalog-hidden">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#home-living"></use>
          </svg>
          Home & Living
        </a>
      </li>
      <li class="catalog__item catalog-hidden">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#children"></use>
          </svg>
          Children's Products
        </a>
      </li>

      <li class="catalog__item catalog-hidden">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#perfumes"></use>
          </svg>
          Perfumes
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="/Glance/category.html">
          <svg class="catalog__icon" width="40" height="40">
            <use href="/assets/images/sprite.svg#sale"></use>
          </svg>
          Sales & Promotions
          <svg class="catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
